html {
    min-height: 100%;
}

main.detail-page {
    height: 100%;
    padding-top: 2rem;
}

main.detail-page footer {
    padding-left: 0;
}

#nav.lora-regular {
    top: 0;
}

.home-arrow {
    height: 0.5rem;
}

.home-arrow path {
    stroke: currentColor;
    fill: currentColor;
}

.home-link {
    display: inline-flex;
    align-items: center;
    height: 1rem;
    gap: 0.25rem;
    font-family: 'Figtree', sans-serif;
    margin: auto;
    margin-top: 2rem;
}

main.detail-page h1 {
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #484848;
    margin-bottom: 0.25rem;
}

main.detail-page h2 {
    font-family: 'Figtree', sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

main.detail-page p, main.detail-page li {
    color: #484848;
}

main.detail-page a {
    color: #484848; 
    text-decoration: underline; 
    text-decoration-color: #889EBD; 
    text-decoration-thickness: 3px;
}

main.detail-page a:hover {
    color: #6d6d6d;
    text-decoration-color: #9eb3d1; 
}

main.detail-page .top-links a {
    color: #889EBD;
    display: inline-flex;
    align-items: center;
    height: 1rem;
    text-decoration-thickness: 1px;
}

main.detail-page .top-links a:hover {
    color: #9eb3d1;
}

.external-link-icon {
    height: 1rem;
}

.external-link-icon path {
    stroke: currentColor;
}

#detail-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

#detail-tags .tag {
    font-family: 'Figtree', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #949494;
    border: solid 1px #949494;
    border-radius: 0.5rem;
    padding: 0.15rem 1rem;
}

.detail-intro {
    padding-top: 2rem;
}

.detail-intro p, main.detail-page li {
    font-size: 1.15rem;
    line-height: 2rem;
}

.detail-image-gallery-medium {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
}

.detail-image-gallery-medium .detail-image {
    width: calc(100% / 2 - 1rem);
}

.detail-image img, .detail-image video {
    width: 100%;
    height: auto;
    border: solid thin #eaeaea;
}

.detail-image-gallery-large .detail-image{
    padding-bottom: 2.5rem;
}

